.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 10%;
  flex-grow: 1;
  margin-top: 2em;
}
/* .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
} */