body {
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(255,255,255,0.2);
  background-blend-mode: lighten;
}

button {
  width: 12em !important;
  margin: auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 2em;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 30%;
  flex-grow: 1;
  margin-top: 1em;
}
