<!doctype html>
<html lang='en'>
  <head>
    <title>ITH TIMESHEET</title>
    <!-- CSS only -->
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1' crossorigin='anonymous'>
    <link rel='stylesheet' href='./assets/css/style.css'>

    <meta name='viewport' content='width=device-width, initial-scale=1'>
  </head>

  <body>

    <div class='container'>
      <div class='row'>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">👨‍💻</span>
          <input 
            type='text'
            class='form-control'
            placeholder='Username'
            aria-label='Username'
            aria-describedby='basic-addon1'
            id='username'
            value='lopese'
          >
        </div>
      </div>
      
      <div class='row'>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">🔒</span>
          <input 
            type='password'
            class='form-control'
            placeholder='Password'
            aria-label='Password'
            aria-describedby='basic-addon1'
            id='password'
          >
        </div>
      </div>

      <div class='row'>
        <select class="form-select" aria-label="week select" name='week' id='week'>
        </select>
      </div>

      <div class='row'>
        <label> Forename: </label>
        <input type='text' id='forename' value='Ezequiel Damian' />
      </div>

      <div class='row'>
        <label> Surname: </label>
        <input type='text' id='surname' value='Lopes' />
      </div>
      
      <div class='row'>
        <label> Payroll Number: </label>
        <input type='text' id='payrollNumber' value='1012850' />
      </div>

      <div class='row'>
        <label> Visa: </label>
        <select name='visa' id='visa'>
          <option value='NO'> No </option>
          <option value='YES'> Yes </option>
        </select>
      </div>

      
      <div class='row'>
        <input class="btn btn-primary" type='button' value='GET EXCEL' onclick='callEndpoint()'/>
        <a></a>
      </div>

    </div>

    <script src='/assets/index.js' charset='utf-8'></script>
      
  </body>
</html>