<html>
  <head>
    <title>ITH TIMESHEET</title>
    <link rel="stylesheet" href="./assets/css/style.css">
  </head>

  <body>

    <div class='container'>
      <div class='row'>
        <label> Username: </label>
        <input type="text" id='username' />
      </div>

      <div class='row'>
        <label> Password: </label>
        <input type="password" id='password'/>
      </div>

      <div class='row'>
        <label> Cookie: </label>
        <input type="cookie" id='cookie' value="54kqbdiruqga0dsen7qck4pj6m"/>
      </div>

      <input class='row' type="button" value="GET EXCEL" onclick="callEndpoint()"/>
      <a ></a>
    </div>

    <script src="/assets/index.js" charset="utf-8"></script>

  </body>
</html>