<html>
  <head>
    <title>ITH TIMESHEET</title>
    <link rel='stylesheet' href='./assets/css/style.css'>
  </head>

  <body>

    <div class='container'>
      <div class='row'>
        <label> Forename: </label>
        <input type='text' id='forename' value='Ezequiel Damian' />
      </div>

      <div class='row'>
        <label> Surname: </label>
        <input type='text' id='surname' value='Lopes' />
      </div>
      
      <div class='row'>
        <label> Payroll Number: </label>
        <input type='text' id='payrollNumber' value='1012850' />
      </div>

      <div class='row'>
        <label> Cookie: </label>
        <input type='text' id='cookie' value=''/>
      </div>

      <div class='row'>
        <label> Week: </label>
        <select name='week' id='week'>
        </select>
      </div>

      <div class='row'>
        <label> Visa: </label>
        <select name='visa' id='visa'>
          <option value='NO'> No </option>
          <option value='YES'> Yes </option>
        </select>
      </div>

      <div class='row'>
        <label> Username: </label>
        <input type='text' id='username' value='lopese' />
      </div>

      <div class='row'>
        <label> Password: </label>
        <input type='password' id='password' />
      </div>

      <input class='row' type='button' value='GET EXCEL' onclick='callEndpoint()'/>
      <a></a>

    </div>

    <script src='/assets/index.js' charset='utf-8'></script>
      
  </body>
</html>